
<hr></hr>
<h2>Welcome to Easy Pricing. </h2>
<hr></hr>
<li>We made this for small business - view only for front desk, administration and view for store manager. </li> 

<li>The use of this application is easy, and free: <h4>step 1: sign in or sign up,</h4> <h4>step 2: select your store,</h4> <h4>step 3: set up your items category and associated pricing rule and cost, </h4><h4>step 4: see the list price and use it for sale.</h4>
</li>

<li>Contact: jgu4 at chicagobooth.edu, copyright 2020 August </li>

